.steps-section {
  margin-top: 52px;
  // @media (min-width: $m1024){
  //   margin-top: 64px;
  // }

  &__title {
    margin-bottom: 0px;
    font-family: "MTS Sans", Arial, Helvetica, sans-serif;
  }

  &__paragraph {
    font-size: 14px;
      line-height: 20px;
      margin: 12px 0 24px 0;

    @media (min-width: $m1024){
      font-size: 17px;
      line-height: 24px;
      margin: 16px 0 32px 0;
      max-width: 732px;
    }

  }
}

.steps {
  position: relative;

  @media (min-width: $m1024) {
    display: flex;
    justify-content: space-between;
  }

  &:before {
    content: "";
    position: absolute;
    left: calc(52px / 2);
    top: 25px;
    width: 1px;
    height: 80%;
    background-color: #BBC1C7;

    @media (min-width: $m1024) {
      display: none;
    }
  }

  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    @include column-item-4;

    &:not(:last-child) {
      margin-bottom: 32px;
    }

    @media (min-width: $m1024) {
      width: 100%;
      flex-direction: column;
      position: relative;
      overflow: hidden;

      &:not(:last-child) {
        margin-bottom: 0;
      }

      &:before {
        content: "";
        position: absolute;
        left: 80px;
        top: 32px;
        width: 100%;
        height: 1px;
        background-color: #BBC1C7;
      }

      &:last-child:before {
        background-color: #f2f3f7;
      }
    }
  }

  &__number {
    width: 52px;
    height: 52px;
    display: block;
    box-shadow: 0 0 0px 8px #f2f3f7;
    margin-right: 16px;

    & img {
      width: 52px;
    height: 52px;
    }

    @media (min-width: $m1024) {
      width: 64px;
    height: 64px;
      box-shadow: 0 0 0px 16px #f2f3f7;
      margin-right: 0px;

      & img {
        width: 64px;
      height: 64px;
      }
    }
  }

  &__text-wrapper {
    margin-left: 16px;
    width: 100%;

    @media (min-width: $m1024) {}

    margin-left: 0;

    p {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;

      @media (min-width: $m1024) {
        font-size: 17px;
        line-height: 24px;
      }
    }
  }

  &__title {
    font-family: $ff-1;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 8px;

    @media (min-width: $m1024) {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 8px;
    }
  }

  &__number-wrapper {

    @media (min-width: $m1024) {
      margin-bottom: 16px;
    }
  }
}